@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200;400&family=Tilt+Prism&display=swap');

@font-face {
  font-family: "ShineOn";   /*Can be any text*/
  src: local("shineon-n8X1"),
    url("./shine-on-font/Shineon-n8X1.ttf") format("truetype");
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'ShineOn';
  margin: 3.1vh auto;
  width: 40%;
}

* {
  background-color: #666f84;
  width: 100%;
  
}

p {
  color: black;
  width: 90%;
  margin: 15px auto;
  line-height: 1.2;
  text-align: justify;
  background-color: rgb(195, 193, 212);
}

#textarea1 {
  font-family: 'Josefin Slab', serif;
  font-size: 22px;
  width: 36%;
  height: 70vh;
  margin: 15px auto;
  line-height: 1.2;
  text-align: justify;
  background-color: rgb(195, 193, 212);
  display: block;
  resize: none;
  border: 3px solid #818da4;
  border-radius: 8px;
}

#datearea {
  font-family: 'ShineOn';
  font-size: 30px;
  width: 36%;
  margin: 15px auto;
  line-height: 1.2;
  text-align: justify;
  background-color: rgb(195, 193, 212);
  display: block;
  resize: none;
  border: 3px solid #818da4;
  border-radius: 8px;
}

#flask {
  font-family: 'ShineOn';
  font-size: 30px;
  width: 36%;
  margin: 15px auto;
  line-height: 1.2;
  text-align: justify;
  background-color: rgb(195, 193, 212);
  display: block;
  resize: none;
  border: 3px solid #818da4;
  border-radius: 8px;
}
